.bg-slider{
    @include bi_gre(#7fa2bd,#7fa2bd);

    .carousel-item {
        padding:60px 0;
        .tile{
            padding:60px 15px;
            .btn{              
                display: inline-block;
                padding: 15px 25px;
                font-size: 50%;
                margin-top: 5%;
            }
        }
        @include vp_max(767px){
           .row{ flex-flow:column-reverse;
                text-align: center;}
             
        }
    }
    .carousel-indicators li{
        border-radius: 50%;
        height: 25px;
        width: 25px;
        cursor: pointer;
        border: 2px solid white;
        background-color:transparent;
    }
    .carousel-indicators .active{ background-color:white;}

    @include vp_max(767px){
        .carousel-item {
            padding: 0;
            .tile{
                padding: 15px 15px 60px;
            }
        }
    }
}