header{
    background-color: $p-color;
    .navbar-light .navbar-nav .active>.nav-link,
     .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
        color:$w;
    }
    .navbar-light .navbar-nav .nav-link  {
        font-weight: bold;
        padding: 15px;
        color:$w;
        text-transform: uppercase;
        &:hover{
            opacity: 0.8;color:$w;
        }
    }
   
    .navbar-expand-lg .navbar-nav{
        li{a{font-size:40%;}}
    }
    #ivacyText{
        fill:$w;
    }
    .fixed-top{
        padding-top:25px;
        padding-bottom: 25px;
    }
    .btn{
        width:130px;

    }
}