$logoPath : '';

.figuare-logo{
    display: inline-block;
    min-width: 48%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.logos{
    background-image: url('/assets/images/spirits/logos-relativelinks_03.png');
}

.webophoebia{
    background-position: -13px -448px;
}

.standards-australia{
    background-position: 0 -100px
}
.ul-logo{
    background-position: -3px 0px
}
.wifi-planet{
    background-position: -1px -185px;

}

.fc-log{
    background-position: -8px -610px;
}
.singapore-logo{
    background-position: -8px -555px;
}

.hongkong-logo{
    background-position: -8px -966px;
}
.acma{
    background-position: -5px -668px;
}

.telec{
    background-position: -5px -707px;
}

.icsa{
    background-position: -8px -782px;
}

.cenelec{
    background-position: -9px -880px;
    
}

.etsi{
    background-position: -20px -494px
}

.asa{
    background-position: -16px -257px;
}

.austest{
    background-position: -16px -317px;
}