.new-container{

        .tile{
            flex:31%;
            background-color:$g-color;
            padding:15px;
            margin-right:20px;
            @include vp_max(767px){
                flex:100%;
                margin-right:auto; 
                margin-top:15px;
            }

            .new-heading {   
                 font-size: 55%;
                font-weight: bold;
                height: 48px;             
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .new-author{}
            .new-details {    height: 48px;
                text-overflow: ellipsis;
                overflow: hidden;}
        }
}