.bb-tabs{
    padding: 15px;
   
    > .nav-tabs{
        border-bottom: 2px solid #ddd;
        margin-bottom: 25px;
        > li.active{
            border-top:0;          
            border-bottom: 3px solid;
            border-bottom-color: $s-color;
            a{
                border: 0;
            }
        }
        li{
            margin-bottom: -4px;
            a{
                padding:15px;
            }
           
        }
    } 
}

.natfirewall{
    
    .nat-icon{
        height: 20px;
        width: 20px;       
        background-image:url($path+'/assets/images/dashboard/nat-firewall-Icon.png');
    }
    .simple-mail img{ background-position: -1px 1px;}
    .ssh img{    background-position: 0 197px;    }
    .ftp img{background-position: -1px -72px;}
    .webserver img{    background-position: -1px -106px;}
    .mysql img{    background-position: -1px -141px;}
    .telnet img{    background-position: -1px -179px;}
    .customport img{background-position: -1px -212px;
    }
    .checkbox,.form-inline{
        @extend .d-p;
    }
    div:nth-of-type(odd){
            background-color: $p-color;
            @extend .d-p;
    }
}