/*universal path for background images*/
/*primary color*/
/*secondary color*/
/*grey color*/
/*default padding which is standard on all website use all over the website same  */
/*default margin which is standard on all website use all over the website same  */
/*********************
  Mixins
**********************/
/*opacity*/
/*opacity*/
/*=========================== media query mixin=================*/
/*=========================== media query mixin =================*/
@import url("https://fonts.googleapis.com/css?family=Raleway");
.p-btn {
  background-color: #ea7f1e; }

.s-btn {
  background-color: #00457c; }

.bg-pri {
  background-color: #ea7f1e; }

.bg-sec {
  background-color: #00457c; }

.bg-grey {
  background-color: #f0f0f0; }

.bg-w {
  /*background-color white*/
  background-color: white; }

.w, .p-btn, .s-btn {
  /*color white*/
  color: white; }

.p {
  color: #ea7f1e; }

.mid-container {
  max-width: 1170px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px; }

* {
  font-family: 'Raleway', 'times new roman','Times,serif'; }

/*~~~~~~  margins  $DefaultPadding refer from varaible in framework folder  ~~~~~~ */
.mr-auto {
  margin: auto; }

.p-15 {
  padding: 15px; }

.p-l {
  padding-left: 15px; }

.p-t {
  padding-top: 15px; }

.p-b {
  padding-top: 15px; }

.p-r {
  padding-right: 15px; }

/*~~~~~~ paddings $DefaultPadding refer from varaible in framework folder ~~~~~~ */
.p-0 {
  padding: 0; }

.d-p {
  /*padding equaly from 4 side */
  padding: 15px; }

.p-l {
  padding-left: 15px; }

.p-t {
  padding-top: 15px; }

.p-b {
  padding-bottom: 15px; }

.p-r {
  padding-right: 15px; }

/*borders */
.b-r {
  /*border-raidus which is :default in all website all over*/
  border-radius: 15px; }

.br-0 {
  /*br = border-radius 0*/
  border-radius: 0; }

.section {
  padding: 60px 15px; }

header {
  background-color: #ea7f1e; }
  header .navbar-light .navbar-nav .active > .nav-link,
  header .navbar-light .navbar-nav .nav-link.active, header .navbar-light .navbar-nav .nav-link.show, header .navbar-light .navbar-nav .show > .nav-link {
    color: #ea7f1e; }
  header .navbar-light .navbar-nav .nav-link {
    font-weight: bold;
    padding: 15px;
    color: #00457c; }

body {
  padding-top: 78px; }

.bg-slider {
  background: #7fa2bd;
  background: -moz-linear-gradient(left, #7fa2bd 0%, #7fa2bd 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #7fa2bd), color-stop(100%, #7fa2bd));
  background: -webkit-linear-gradient(left, #7fa2bd 0%, #7fa2bd 100%);
  background: -o-linear-gradient(left, #7fa2bd 0%, #7fa2bd 100%);
  background: -ms-linear-gradient(left, #7fa2bd 0%, #7fa2bd 100%);
  background: linear-gradient(to right, #7fa2bd 0%, #7fa2bd 100%); }
  .bg-slider .carousel-item {
    padding: 60px 0; }
    .bg-slider .carousel-item .tile {
      padding: 60px 15px; }
      .bg-slider .carousel-item .tile .btn {
        background-color: #ea7f1e;
        display: inline-block;
        padding: 15px 25px;
        font-size: 1.2em;
        margin-top: 5%; }
  .bg-slider .carousel-indicators li {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    cursor: pointer;
    border: 2px solid white;
    background-color: transparent; }
  .bg-slider .carousel-indicators .active {
    background-color: white; }

/*# sourceMappingURL=main.css.map */
