.p-btn{
background-color:$bb;
@extend .w;
&:hover{
    color:$w;
    opacity: 0.8;
}
}
.s-btn{
    background-color:$sb;  
    @extend .w;
    &:hover{
        color:$w;
        opacity: 0.8;
    }
}



