// background color
.bg-pri{
background-color:$p-color;
}

.bg-sec{
    background-color:$s-color;
}

.bg-grey{
    background-color:$g-color;
}

.bg-w{ /*background-color white*/
    background-color:white;
}


// fonts color
.w{ /*color white*/
color:white;
}

.p{
    color:$p-color;
}

