// background color
.bg-pri{
background-color:$p-color;
}

.bg-sec{
    background-color:$s-color;
}

.bg-grey{
    background-color:$g-color;
}


.bg-w{ /*background-color white*/
    background-color:white;
}


/*~~~~~~~~~~~~ fonts~~~~~~~~~~~~~*/
.w{ /*color white*/
color:white;
}

.p{
    color:$p-color;
}

.s{
    color:$s-color;
}

.g{
    color:$dg-color;
}





p,span,i,label,small,button,dl{font-size:45%;
     @include vp_max(767px){font-size:65%;}
    }
    small{font-size:35%;
        @include vp_max(767px){font-size:45%;}

    }

.f-50{
    font-size:50%
}


.f-75{
    font-size:75%
}

.f-100{
    font-size:100%
}
/*~~~~~~~~~~~~ fonts~~~~~~~~~~~~~*/




.bg-gre{
    position: relative;
    
   
    &:before{
        
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left:0;
        top: 0;
        z-index: -1;
    }
}

.bg-cover{ background-size:cover;}
.bg-center{
        background-repeat: no-repeat;
    background-position: center;
}

.p-bg{
    &:before{
        background-color:$p-color;
        
    }
}

.s-bg{
    &:before{
        background-color:$s-color ;
        opacity: 0.7;
    }
}


.h-100{
    min-height:100vh;
}


.h-50{
    min-height:50vh;
}




.be-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}