$path:'';/*universal path for background images*/
$p-color:#ea7f1e;/*primary color*/
$s-color:#00457c;/*secondary color*/
$g-color:#f0f0f0;/*grey color*/

$default-padding:15px;   /*default padding which is standard on all website use all over the website same  */
$default-margin:15px;   /*default margin which is standard on all website use all over the website same  */
$default-radius:15px;