$path:'';/*universal path for background images*/
$p-color:#f5fafd;/*primary color*/
$s-color:#0479ec;/*secondary color*/
$g-color:#f0f0f0;/*grey color*/
$dg-color:#666666;/*dark grey color*/
$w:white;
$bb:#5791ef;/*blue using in button*/
$sb:#42cbd1;/*skyblue using in button*/
$tp:#666666;/*text primary color */
$tw:white;
$o:#f27624;

$default-padding:15px;   /*default padding which is standard on all website use all over the website same  */
$default-margin:15px;   /*default margin which is standard on all website use all over the website same  */
$default-radius:15px;


$dashboard-top-height:100; /*dashboard structure top height*/ 

$path:'http://my.member.com';